<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="post">
  <div>
    <h2>
      <a class="post-link" href="/allposts/{{post.id}}">{{post.title}}</a>
    </h2>
    <p class="post-author">Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>
  <div>
    <p class="post-content">
      {{post.content}}
    </p>
  </div>
</div>
{{/each}}